.custom-sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 15;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.custom-sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 53px;
  z-index: 20;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
}

.custom-sidebar.visible {
  max-height: calc(100vh - 50px);
  overflow-y: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}