.eliminated {
  opacity: 0.2;
  filter: grayscale(0.9);
  transition: 1s;
}

/* .eliminated:hover {
  opacity: 0.5;
  filter: grayscale(0);
  transition: 1s;
} */

.logoBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  pointer-events: none;
}

.teamLogo {
  opacity: 0.14;
  width: 420px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
  -webkit-filter: blur(2px);
}

/* .teamLogo1::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/1.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo2::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/2.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo3::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/3.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo4::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/4.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo5::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/5.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo6::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/6.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo7::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/7.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo8::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/8.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo9::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/9.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo10::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/10.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo11::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/11.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo12::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/12.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo13::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/13.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}
.teamLogo14::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/14.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo15::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/15.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo16::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/16.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo17::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/17.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo18::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/18.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo19::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/19.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo20::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/20.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo21::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/21.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo22::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/22.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo23::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/23.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo24::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/24.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo25::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/25.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo26::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/26.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo27::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/27.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo28::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/28.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo29::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/29.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo30::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/30.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo52::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/52.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo53::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/53.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo54::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/54.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
}

.teamLogo55::before {
  content: '';
  opacity: 0.1;
  background-image: url('https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/55.svg');
  background-size: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-filter: blur(2px);
} */
