.eliminated {
  opacity: 0.2;
  filter: grayscale(0.9);
  transition: 1s;
}

/* .eliminated:hover {
  opacity: 0.5;
  filter: grayscale(0);
  transition: 1s;
} */

.logoBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  pointer-events: none;
}

.teamLogo {
  opacity: 0.15;
  width: 450px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.playersRemaining0 {
  color: #ff0000;
}

.playersRemaining1 {
  color: #f71e26;
}

.playersRemaining2 {
  color: #ec2f3d;
}

.playersRemaining3 {
  color: #df3b50;
}

.playersRemaining4 {
  color: #d14461;
}

.playersRemaining5 {
  color: #c14b72;
}

.playersRemaining6 {
  color: #b05083;
}

.playersRemaining7 {
  color: #9e5293;
}

.playersRemaining8 {
  color: #8c53a2;
}

.playersRemaining9 {
  color: #7a52b1;
}

.playersRemaining10 {
  color: #684ec0;
}

.playersRemaining11 {
  color: #5649cd;
}

.playersRemaining12 {
  color: #4542da;
}

.playersRemaining13 {
  color: #3438e6;
}

.playersRemaining14 {
  color: #242cf0;
}

.playersRemaining15 {
  color: #131cf8;
}

.playersRemaining16 {
  color: #0000ff;
}

.standings0 {
  background-color: #ffd90077;
}

.standings1 {
  background-color: #c0c0c077;
}

.standings1 {
  background-color: #cd803279;
}