/* Initially hide the app content */
.hidden-content {
  opacity: 0;
  /* Fully transparent */
  pointer-events: none;
  /* Prevent interaction while hidden */
  transition: opacity 0.5s ease-in;
  /* Smooth fade-in effect */
}

/* Gradually show the app content */
.visible-content {
  opacity: 1;
  /* Fully visible */
  pointer-events: auto;
  /* Enable interaction */
  transition: opacity 0.5s ease-in;
  /* Smooth fade-in effect */
}

.expandedStandingsStyle {
  transition: all 1s;
  max-height: calc(100vh - 505px);
  overflow-y: auto;
  /* overflow-x: hidden; */
  -webkit-filter: opacity(1);
  filter: opacity(1);
}

.expandedStyle {
  transition: all 1s;
  max-height: calc(100vh - 482px);
  overflow: auto;
  -webkit-filter: opacity(1);
  filter: opacity(1);
}

@media screen and (max-width: 767px) {
  .expandedStandingsStyle {
    max-height: calc(100vh - 280px);
  }

  .expandedStyle {
    max-height: calc(100vh - 200px);
  }
}

.collapsedStyle {
  transition: all 1s;
  max-height: 0em;
  overflow: hidden;
  -webkit-filter: opacity(0);
  filter: opacity(0);
}

.eliminated {
  opacity: 0.3;
  filter: grayscale(0.8);
  transition: 1s;
}

/* .eliminated:hover {
  opacity: 0.5;
  filter: grayscale(0);
  transition: 1s;
} */

.logoBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  pointer-events: none;
}

.teamLogo {
  opacity: 0.15;
  width: 450px;
  position: absolute;
  pointer-events: none;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.teamLogoSlim {
  opacity: 0.15;
  width: 200px;
  top: -1.5em;
  left: 10em;
  right: 0em;
  bottom: 0em;
  position: absolute;
  pointer-events: none;
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.playersRemaining0 {
  color: #ff0000;
}

.playersRemaining1 {
  color: #f71e26;
}

.playersRemaining2 {
  color: #ec2f3d;
}

.playersRemaining3 {
  color: #df3b50;
}

.playersRemaining4 {
  color: #d14461;
}

.playersRemaining5 {
  color: #c14b72;
}

.playersRemaining6 {
  color: #b05083;
}

.playersRemaining7 {
  color: #9e5293;
}

.playersRemaining8 {
  color: #8c53a2;
}

.playersRemaining9 {
  color: #7a52b1;
}

.playersRemaining10 {
  color: #684ec0;
}

.playersRemaining11 {
  color: #5649cd;
}

.playersRemaining12 {
  color: #4542da;
}

.playersRemaining13 {
  color: #3438e6;
}

.playersRemaining14 {
  color: #242cf0;
}

.playersRemaining15 {
  color: #131cf8;
}

.playersRemaining16 {
  color: #0000ff;
}